.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: cycleBackground 45s infinite;
}
    @keyframes cycleBackground {
  0%   { background-image: url("../images/game-1.jpg"); }
    10%  { background-image: url("../images/game-2.png"); }
    20%  { background-image: url("../images/game-3.webp"); }
    30%  { background-image: url("../images/game-4.jpg"); }
    40%  { background-image: url("../images/game-5.webp"); }
    50%  { background-image: url("../images/game-6.jpg"); }
    60%  { background-image: url("../images/game-7.jpg"); }
    70%  { background-image: url("../images/game-8.avif"); }
    80%  { background-image: url("../images/game-9.avif"); }
    90%  { background-image: url("../images/game-10.webp"); }
    100% { background-image: url("../images/game-1.jpg"); }
}

